.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}




.responsive-image {
  max-width: 80%;
  height: auto;
}

@font-face {
  font-family: 'Ofl_bold';
  src: url('./Fonts/Rowdies-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Ofl_regular';
  src: url('./Fonts/Rowdies-Regular.ttf') format('truetype');
}


@media (min-width: 100px) {
  .responsive-image {
    width: 20%
  }
}

.responsive-image-backgruond {
  max-width: 100%;
  height: auto;
  opacity: 0.6;
  border-radius: 30%;
}

@media (min-width: 130px) {
  .responsive-image-backgruond {
    width: 52%
  }


}

@media (min-height: 200px) {
  .responsive-image-backgruong {
    width: 50%
  }
}

.divImagePosition {
  margin-top: "2%";
  margin-left: '20%'
}

.img-money {
  width: '40px';
  height: '40px'
}

.img-dispencer {
  width: '550px';
  height: '300px'
}